@import "base.less";
body{
  display: flex;
    align-items: center;
    flex-direction: column;
  justify-content: center;
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darken(@background, 20%);
    a{
      padding: 1rem;
    }
  }
  main{
    .grid-container{
      display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }
}